<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="cityevents">

<head>
    <link rel="stylesheet" href="/sc-date-time/dist/sc-date-time.css">
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" media="screen">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <link rel="stylesheet" type="text/css" href="ngGallery/src/css/screen.css">
    <link rel="stylesheet" type="text/css" href="ngGallery/src/css/ngGallery.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .time-date > .buttons {
            display: none;
        }

        .ng-gallery {
            width: 100%;
            height: auto;
            margin-bottom: 1em;
            display: inline-block;
        }

        img.ng-thumb {
            height: 25%;
            float: left;
            display: block;
            cursor: pointer;
            margin: 1em;
        }
    </style>
</head>

<body ng-controller="MainController">

<div class="md-inline-form" layout="column">
    <md-content layout-gt-sm="row" layout-padding="">
        <div flex="">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>CityEvents</span>
                    </h2>

                    <md-button href="#">Home</md-button>
                    <md-button href="#admin">Admin</md-button>
                    <md-button href="#about">About</md-button>
                    <md-button href="#contact">Contact</md-button>

                    <span flex=""></span>
                    <md-button ng-click="showAdvanced($event)">Login</md-button>
                </div>
            </md-toolbar>
        </div>
    </md-content>


    <md-content layout-gt-sm="row" layout-padding="" id="main">
        <div ng-view flex="">
        </div>
    </md-content>

    <script type="text/ng-template" id="home.html">
        <events-map></events-map>
    </script>

    <script type="text/ng-template" id="admin.html">
        <md-content layout-gt-sm="row" layout-padding="">
            <div flex="33">
                <create-event></create-event>
            </div>
            <div flex>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Live Map</span>
                        </h2>
                        <span flex=""></span>
                    </div>
                </md-toolbar>
                <events-map></events-map>
            </div>
        </md-content>
    </script>


    <script type="text/ng-template" id="login.tmpl.html">
        <md-dialog aria-label="Login" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Login</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <ng-md-icon icon="close" size="24">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                                </svg>
                            </ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-button class="md-primary md-raised">Login with Facebook</md-button>
                        <br/>
                        <md-button class="md-warn md-raised md-hue-2">Login with Google</md-button>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <md-button ng-click="answer('not useful')">
                        Ok
                    </md-button>
                    <md-button ng-click="answer('useful')" style="margin-right:20px;">
                        Cancel
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>

<script src="//cdn.socket.io/socket.io-1.4.4.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src='/angular/angular.min.js'></script>
<script type="text/javascript" src="/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/angular-route/angular-route.min.js"></script>
<script src='/ngmap/build/scripts/ng-map.js'></script>
<script src="/sc-date-time/dist/sc-date-time.js"></script>
<script src="/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="ngGallery/src/js/ngGallery.js"></script>
<script src="app/app.js"></script>

</body>

</html>
