<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="cityevents">

<head>
    <link rel="stylesheet" href="/sc-date-time/dist/sc-date-time.css">
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" media="screen">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <link rel="stylesheet" type="text/css" href="ngGallery/src/css/screen.css">
    <link rel="stylesheet" type="text/css" href="ngGallery/src/css/ngGallery.css">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .time-date > .buttons {
            display: none;
        }

        .ng-gallery {
            width: 100%;
            height: auto;
            margin-bottom: 1em;
            display: inline-block;
        }

        img.ng-thumb {
            height: 25%;
            float: left;
            display: block;
            cursor: pointer;
            margin: 1em;
        }
    </style>
</head>

<body>

<br/>

<div ng-controller="AppController" class="md-inline-form" layout="column">
    <md-content layout-gt-sm="row" layout-padding="">
        <div flex="33">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>New Event</span>
                    </h2>
                    <span flex=""></span>
                </div>
            </md-toolbar>
            <md-input-container>
                <label>What</label>
                <input ng-model="name" placeholder="Heavy Montreal">
            </md-input-container>
            <md-input-container>
                <label>Where</label>
                <input places-auto-complete
                       ng-model="address"
                       types="{{types}}"
                       on-place-changed="placeChanged(place)"
                       type="text"
                       class="form-control"
                       id="inputFromLocation"
                       placeholder="ex: Place des Arts, Montreal">
            </md-input-container>

            <time-date-picker ng-model="when" compact="true" autosave="true"
                              class="modal-content"></time-date-picker>

            <md-button class="md-raised" ng-click="create()" ng-disabled="!isValidForCreation()">Create</md-button>
        </div>
        <div flex>
            <md-toolbar ng-show="gallery_show">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Random Images</span>
                    </h2>
                    <span flex=""></span>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="hideGallery()">
                        <ng-md-icon icon="close" size="24">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                            </svg>
                        </ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <br/>

            <div class="gallery" ng-show="gallery_show">
                <ng-gallery images="event_images"></ng-gallery>
            </div>

            <div map-lazy-load="http://maps.google.com/maps/api/js?v=3.20&key=AIzaSyB48Iq3ZYy4BfR4S47CINf1Q9nBhC5VqdU">
                <map center="41,-87" zoom="3"></map>
            </div>
        </div>
    </md-content>
</div>

<script src="//cdn.socket.io/socket.io-1.4.4.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src='/angular/angular.min.js'></script>
<script type="text/javascript" src="/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="/angular-material/angular-material.min.js"></script>
<script src='/ngmap/build/scripts/ng-map.js'></script>
<script src="/sc-date-time/dist/sc-date-time.js"></script>
<script src="/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="ngGallery/src/js/ngGallery.js"></script>
<script src="app/cityevents.js"></script>

</body>

</html>
