<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="cityevents">

<head>
    <link rel="stylesheet" href="/sc-date-time/dist/sc-date-time.css">
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" media="screen">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>

<br/>

<div ng-controller="AppController" class="md-inline-form" layout="column">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
        <div flex="33">
            <md-toolbar>
                <div class="md-toolbar-tools">
                  <h2>
                        <span>New Event</span>
                    </h2>
                    <span flex=""></span>
                </div>
            </md-toolbar>
            <md-input-container>
                <label>Where</label>
                <input places-auto-complete
                       ng-model="address"
                       types="{{types}}"
                       on-place-changed="placeChanged(place)"
                       type="text"
                       class="form-control"
                       id="inputFromLocation"
                       placeholder="ex: Place des Arts, Montreal">
            </md-input-container>

            <time-date-picker ng-model="dateValue" data-display-mode="full"
                              class="modal-content"></time-date-picker>
        </div>
        <div flex>
            <div map-lazy-load="http://maps.google.com/maps/api/js?v=3.20&key=AIzaSyB48Iq3ZYy4BfR4S47CINf1Q9nBhC5VqdU">
                <map center="41,-87" zoom="3"></map>
            </div>
        </div>
    </md-content>
</div>

<script src="//cdn.socket.io/socket.io-1.4.4.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src='/angular/angular.min.js'></script>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
<script src='/ngmap/build/scripts/ng-map.js'></script>
<script src="/sc-date-time/dist/sc-date-time.js"></script>
<script src="/lodash/dist/lodash.min.js"></script>
<script src="app/cityevents.js"></script>

</body>

</html>
